body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

#logo {
  padding-bottom: 10px;
}

.sidenav {
  height: 100%;
  width: 250;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #272f38;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s
}

.sidenav a:hover {
  color: #ff5b48;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.inner-EH ul {
  margin: 0;
  list-style-type: none;
}

.inner-EH ul li a {
  font-size: 18.3px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 250px;
}

@media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
}
